<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>

<body>



    <div class="container mt-3 mb-3">
        <div class="row ">
            <div class="col-sm-4 my-2">
                <div class="card h-100 ">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6T4LIhx7dJmAcxOf9Zq0cTAfrguBV_8NiC3gJdGzkOQ&usqp=CAU&ec=48600112" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BYRDS.PVT.LTD</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- <a href="/reg" class="btn btn-primary">Donate</a> -->
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 my-2">
                <div class="card h-100">
                    <img src="https://img.freepik.com/premium-vector/study-house-logo-template-design_316488-433.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Study House</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>


                </div>
            </div>
            <div class="col-sm-4 my-2">
                <div class="card h-100">
                    <img src="https://images-platform.99static.com//BIlZSd2RmR31cmJVTl0R9S5ewqg=/129x129:1383x1383/fit-in/500x500/99designs-contests-attachments/128/128792/attachment_128792626" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Brdys'Neck</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-sm-4  my-2">
                <div class="card h-100">
                    <img src="https://cdn3.f-cdn.com/contestentries/45243/8023315/527fea1fce764_thumb900.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gestalt</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 my-2">
                <div class="card h-100">
                    <img src="https://img.freepik.com/free-vector/geometric-logo-with-two-arrows_1057-2134.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bizname</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 my-2">
                <div class="card h-100">
                    <img src="https://images-platform.99static.com//ZK2NaiSyJRlql3YtRhMuuX9EPjQ=/460x184:1032x756/fit-in/500x500/99designs-contests-attachments/67/67134/attachment_67134487" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Datasio</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LJWfmk6w5r0sl7" async>
                            </script>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>


</body>

</html>