<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-2 mb-5">
        <h1>FAQs</h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <strong>What is crowdfunding?</strong>    
                </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        Crowdfunding is a quick and easy way to raise money using the internet and social media. Using an online fundraising platform, you can raise the required amounts through donations from across India to help any social, medical, personal or creative need.
                        Campaigners have used online crowdfunding platforms to raise funds for medical treatment such as cancer care or transplant. One can also start a fundraiser and raise money to receive help for disaster relief work, support a non-profit
                        or a social cause and even raise funds for personal needs such as medical treatment, education or businesses.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <strong>Is crowdfunding legal in India?</strong>
                </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Yes, online donation-based crowdfunding for social, medical, and personal causes is completely legal in India. The Securities and Exchange Board of India (SEBI) considers all forms of crowdfunding legal in India except for equity crowdfunding. In fact,
                        certain crowdfunding organizations are registered under the Income Tax Act as charitable trusts. Contributions made to such donation platforms are eligible for income tax deductions under section 80G.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <strong>How much does it cost to raise funds on ImpactGuru?</strong>
                </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        You can start a fundraiser in just a few minutes on ImpactGuru - India’s leading online crowdfunding platform. Depending on your fundraising needs and the type of fundraising plan you choose, the fee is deducted in the form of a certain percentage from
                        the amount you raised. ImpactGuru even offers online fundraising at a 0% platform fee to help you receive all funds raised through fundraising.
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>